RPi.GPIO
SpeechRecognition
collections
command_parser
controller
gTTS
kalman_filter
numpy
openai
pickle
pigpio
pydantic
pygame
resemblyzer
robot_executor
sensors
smbus2
speaker_verification
speech_io
typing
